html{
  background-color: black
}


h1{
  color :#FFD700;
  font-family:Lobster Two;
}


.circular{
  border-radius: 100%;
}
.index{
  font-size: 60;
   font-family: zen loop;
  color: white

}
